<footer class="bg-yellow-300 py-4 mt-48">

  <div class="flex justify-between mx-12">
    <p> &copy; 2024 Scriptorium</p>
    <p>iWallet & Patika.dev Rails Bootcamp</p>
    <div>
      <%= link_to "https://www.linkedin.com/in/sametpolat17/",
      target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "linkedin.svg", alt: "LinkedIn",
        class: "inline-block w-6 h-6 mr-4" %>
      <% end %>
      <%= link_to "https://github.com/sametpolat7",
      target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "github.svg", alt: "GitHub",
        class: "inline-block w-6 h-6" %>
      <% end %>
    </div>
  </div>
  
</footer>