/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .alert {
  position: relative;
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: 16px;
 }

.alert-success, .alert-notice {
  color: #4bb543;
  border: 1px solid #4bb543
}

.alert-alert {
  color: #bb2124;
  border: 1px solid #bb2124
}

.close-button {
  position: absolute;
  top: -12px;
}

.header-pic {
  border-radius: 16px;
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.badge {
  position: absolute;
  top: -13px;
  right: -1px;
  width: 13px;
  height: 13px;
  background-color: red;
  border-radius: 50%;
}
